@import "variables";
@import"mixins";


body{
    font-family: 'Poppins', 'Trebuchet MS', sans-serif;
    margin: 0 auto;
}


.header{
    padding: 30px;
    background-color: $bgcolor;
    .header-menu{
        display: flex;
        justify-content: space-between; 
        align-items: center; 
        h3{
            color: $maincolor1;
        }
    }
    
    ul{
        list-style: none;
        display: flex;
        gap: 50px;
        a{
            text-decoration: none;
            color: black;
            a:visited{
                text-decoration: none;
                color: black;
            }
        }
    }
    .header-btn{
        color: white;
        background-color: $maincolor1;
        border-radius: 50px;
        padding: 20px;
        border-style: none;
        width: 124px;
        height: 40px;
        display: flex; 
        justify-content: center; 
        align-items: center;
        cursor: pointer;
        //smartphone
        @media screen and (min-width: 0px) and (max-width: $smartphone) {
            display: none; 
        }
         /* tablet */
        @media screen and (min-width: $smartphone) and (max-width: $notebook) {
        display: none; 
      }
    }
    .menu-head{
        //smartphone
        @media screen and (min-width: 0px) and (max-width: $smartphone) {
            display: none; 
        }
        /* tablet */
        @media screen and (min-width: $smartphone) and (max-width: $notebook) {
            display: none; 
        }
    }
    //smartphone
    @media screen and (min-width: 0px) and (max-width: $smartphone) {
        .side-menu{
            display: block;
            scale: 2;
            .nav{
                display: flex;
                flex-direction: column;
                background-color: #D9D9D9;
            }
        }
        #side-menu:checked ~.nav {
            display: block !important;
        }
        .side-menu:checked ~ .hamb .hamb-line {
            background: transparent;
        }
        .side-menu:checked ~ .hamb .hamb-line::before {
            transform: rotate(-45deg);
            top:0;
        }
        .side-menu:checked ~ .hamb .hamb-line::after {
            transform: rotate(45deg);
            top:0;
        }
    }
    //tablet
    @media screen and (min-width: $smartphone) and (max-width: $notebook) {
        .side-menu{
            display: block;
            scale: 2;
            .nav{
                display: flex;
                flex-direction: column;
                background-color: #D9D9D9;
            }
        }
        #side-menu:checked ~.nav {
            display: block !important;
        }
        .side-menu:checked ~ .hamb .hamb-line {
            background: transparent;
        }
        .side-menu:checked ~ .hamb .hamb-line::before {
            transform: rotate(-45deg);
            top:0;
        }
        .side-menu:checked ~ .hamb .hamb-line::after {
            transform: rotate(45deg);
            top:0;
        }
    }
}
.side-menu{
    display: none;
    position: relative;
    bottom: 40px;
    left: 325px;
}
.nav{
    display: none;
    background-color: #D9D9D9;
    width: 450px;
    height: 749px;
    padding: 20px;
}
.nav ul.menu, .nav ul.menu li{
    flex-direction: column;
}

.img-section{
    h3{
        color: $maincolor1;
        font-weight: 400;
    }
    h1{
        margin: 0;
        font-size: xxx-large;
    }
    .main-img{
        display: flex;
        flex-direction: column;
        max-width: 100%; 
        height: auto; 
    /* smartphone */
    @media screen and (min-width: 0px) and (max-width: $smartphone) {
        display: none; 
    }
    }
}

.content-container {
    display: flex; 
    justify-content: space-between; 
    align-items: center; 
    background-color: $bgcolor;
    /* tablet */
    @media screen and (min-width: $smartphone) and (max-width: $notebook) {
        display: flex;
        flex-direction: column;
}
}

.text-content {
    flex-grow: 0;
    padding: 70px;
     //smartphone
     @media screen and (min-width: 0px) and (max-width: $smartphone) {
        text-align: center;
    }
    .text{
        /* tablet */
        @media screen and (min-width: $smartphone) and (max-width: $notebook) {
            text-align: center;
            margin-right: 20px;
        }
    }
    .flex{
     display: flex;
     margin-top: 50px;
     //smartphone
     @media screen and (min-width: 0px) and (max-width: $smartphone) {
        display: flex;
        flex-direction: column; 
        justify-content: center;
        align-items: center;
    }
    /* tablet */
    @media screen and (min-width: $smartphone) and (max-width: $notebook) {
        display: flex;
        flex-direction: column; 
        justify-content: right;
    }
    }
    .contact-btn{
        color: white;
        background-color: $maincolor1;
        border-radius: 50px;
        border-style: none;
        width: 204px;
        height: 70px;
        display: flex; 
        justify-content: center; 
        align-items: center;
        cursor: pointer;
        font-size: large;
    }
    .download-cv{
        background-color: transparent;
        border-style: none;
        width: 204px;
        height: 70px;
        display: flex; 
        justify-content: center; 
        align-items: center;
        cursor: pointer;
        font-size: large;
    }
}
.text-section{
        display: flex;
        justify-content: space-evenly;
        align-items: center; 
        text-align: center;
        margin: 75px;
        h1{
            margin: 0;
        }

        h2{
            margin: 0;
            font-weight: 400;
        }
        //smartphone
        @media screen and (min-width: 0px) and (max-width: $smartphone) {
        display: flex;
        flex-flow: wrap;
        gap: 10px;
    }
}

.middle-text{
    text-align: center;
    margin: 60px;
    h3{
        color: $maincolor1;
        font-weight: 400;
    }
}

.info-section{
    display: flex;
    justify-content: space-evenly;
    align-items: center; 
    text-align: center;
    .info-rectangle{
        width: 376px;
        height: 286px;
        border-radius: 24px;
        border: 1px solid;
        display: flex; 
        flex-direction: column;
        justify-content: center; 
        border-style: none;
        -webkit-box-shadow: 15px 26px 106px 18px rgba(145,145,145,0.68);
        -moz-box-shadow: 15px 26px 106px 18px rgba(145,145,145,0.68);
        box-shadow: 15px 26px 106px 18px rgba(145,145,145,0.68);
        h3{
            color: $maincolor1;
            font-size: x-large;
        }
        /* tablet */
        @media screen and (min-width: $smartphone) and (max-width: $notebook) {
            flex-basis: calc(40% - 20px);
            margin: 10px;
            box-sizing: border-box;
    }
    }
     //smartphone
     @media screen and (min-width: 0px) and (max-width: $smartphone) {
        display: flex;
        flex-direction: column;
        gap: 20px;
    }
    /* tablet */
    @media screen and (min-width: $smartphone) and (max-width: $notebook) {
        display: flex;
        flex-wrap: wrap;
        gap: 30px;
    }
}

.middle-text2{
    background-color: $bgcolor;
    text-align: left;
    padding: 70px;
    h1{
        margin: 0;
        font-size: xx-large;
    }
    h3{
        color: $maincolor1;
        font-weight: 400;
    }
    .contact-btn{
        color: white;
        background-color: $maincolor1;
        border-radius: 50px;
        border-style: none;
        width: 204px;
        height: 70px;
        display: flex; 
        justify-content: center; 
        align-items: center;
        cursor: pointer;
        font-size: large;
    }
    //smartphone
    @media screen and (min-width: 0px) and (max-width: $smartphone) {
        text-align: center;
        justify-content: center;
        align-items: center;
        display: flex;
        flex-direction: column;
    }
    /* tablet */
    @media screen and (min-width: $smartphone) and (max-width: $notebook) {
        text-align: center;
        justify-content: center;
        align-items: center;
        display: flex;
        flex-direction: column;
    }
}

.m-image{
    display: none;
    //smartphone
    @media screen and (min-width: 0px) and (max-width: $smartphone) {
        display: flex;
        margin-top: 50px;
        justify-content: center;
    }
    /* tablet */
    @media screen and (min-width: $smartphone) and (max-width: $notebook) {
        display: flex;
        margin-top: 50px;
        justify-content: center;
    }
}

.portfolio{

    padding: 70px;
    h3{
        color: $maincolor1;
        font-weight: 400;
    }
    .head-lorem{
        text-align: right;
        //smartphone
    @media screen and (min-width: 0px) and (max-width: $smartphone) {
        text-align: center;
    }
    /* tablet */
    @media screen and (min-width: $smartphone) and (max-width: $notebook) {
        text-align: center;
    }
    }
    .row{
        display: flex;
        flex-wrap: wrap;
        //smartphone
    @media screen and (min-width: 0px) and (max-width: $smartphone) {
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    /* tablet */
    @media screen and (min-width: $smartphone) and (max-width: $notebook) {
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    }
    .col-5{
        width: 50%;
    }
    .flex{
        display: flex;
        justify-content: space-evenly;
        margin-bottom: 20px;
    //smartphone
    @media screen and (min-width: 0px) and (max-width: $smartphone) {
        display: flex;
        flex-direction: column;
        gap: 30px;
        align-items: center;
    }
    /* tablet */
    @media screen and (min-width: $smartphone) and (max-width: $notebook) {
        display: flex;
        flex-direction: column;
        gap: 30px;
        align-items: center;
    }
    }
    .card{
        width: 583px;
        height: 532px;
        border-radius: 24px;
        border: 1px solid;
        border-style: none;
        background-color: #C4C4C4;
        display: flex;
        flex-direction: column; 
        justify-content: flex-end; 
        min-height: 200px;
        -webkit-box-shadow: -1px -1px 42px 0px rgba(0,0,0,0.33);
        -moz-box-shadow: -1px -1px 42px 0px rgba(0,0,0,0.33);
        box-shadow: -1px -1px 42px 0px rgba(0,0,0,0.33);
        h3{
            font-weight: bold;
            color: black;
        }
        .card-text{
            background-color: white;
            margin-top: auto;
            border-radius: 0px 0px 24px 24px;
            border-bottom: 1px solid black;
            border-style: none;
            text-align: left;
            padding-left: 40px;
        }
    }
}

.testimonials{
    .flex{
        display: flex;
        justify-content: center;
        margin: 20px;
    //smartphone
    @media screen and (min-width: 0px) and (max-width: $smartphone) {
        display: flex;
        flex-direction: column;
        gap: 30px;
        align-items: center;
    }
    /* tablet */
    @media screen and (min-width: $smartphone) and (max-width: $notebook) {
        display: flex;
        flex-direction: column;
        gap: 30px;
        align-items: center;
    }
    }
    .review-rectangle{
        width: 584px;
        height: 369px;
        border-radius: 24px;
        border: 1px solid black;
        margin: 20px;
        padding: 20px;
        -webkit-box-shadow: 0px -1px 81px -34px rgba(0,0,0,0.75);
        -moz-box-shadow: 0px -1px 81px -34px rgba(0,0,0,0.75);
        box-shadow: 0px -1px 81px -34px rgba(0,0,0,0.75);
        border-style: none;
        .stars{
            color:#EEC01C;
            font-size: xx-large;
            margin-bottom: 13px;
        }
        .subtext{
            font-size: x-large;
        }

        .user-circle{
            background-color: $maincolor1;
            border-radius: 50%;
            width: 64px;
            height: 64px;
            flex-shrink: 0; 
        }
        .comment{
            color: $maincolor1;
            font-size: xx-large;
            margin-left: auto; 
        }
        h3{
            margin: 0;
        }
        p{
            margin: 0;
        }
    }
    .profile-container {
        display: flex;
        align-items: center; 
        justify-content: space-between; 
        margin-top: 80px;
    }
    .user-info {
        margin-left: 20px;
        padding: 0;
    }
}

.banner{
    background-image: url("../Img/cta-sectionimg.png");
    height: 471px;
    text-align: center;
    align-content: center;
    background-position: center center;
    background-repeat: no-repeat;
    .contact-btn{
        color: white;
        background-color: $maincolor1;
        border-radius: 50px;
        border-style: none;
        width: 204px;
        height: 70px;
        cursor: pointer;
        font-size: large;
    }
}

.footer{
    margin-top: 100px;
    border-top: 1px solid black;
    border-radius: 24px 24px 0px 0px;
    border-style: none;
    .footer-container{
        display: flex;
        justify-content: space-between;
        align-items: center;
 //smartphone
    @media screen and (min-width: 0px) and (max-width: $smartphone) {
        display: flex;
        flex-direction: column;
        text-align: center;
    }
    /* tablet */
    @media screen and (min-width: $smartphone) and (max-width: $notebook) {
        display: flex;
        flex-direction: column;
        text-align: center;
    }
    }
    background-color: #404040;
    color: white;

    .text-container {
        padding: 50px;
    }

    .contacts-container{
        margin: 80px;
    //smartphone
    @media screen and (min-width: 0px) and (max-width: $smartphone) {
        padding: 0;
        margin: 30px;
    }
    /* tablet */
    @media screen and (min-width: $smartphone) and (max-width: $notebook) {
        padding: 0;
        margin: 30px;
    }
    }
    
    .socials {
        display: flex;
        gap: 20px;
    //smartphone
    @media screen and (min-width: 0px) and (max-width: $smartphone) {
        justify-content: center;
    }
    /* tablet */
    @media screen and (min-width: $smartphone) and (max-width: $notebook) {
        justify-content: center;
    }
    }

    .flex{
        display: flex;
        flex-direction: row;
    }

    .header-menu{
        display: flex;
        justify-content: space-between;
        padding: 30px;
    //smartphone
    @media screen and (min-width: 0px) and (max-width: $smartphone) {
        justify-content: center;
        display: flex;
        flex-direction: column;
        text-align: center;
    }
    /* tablet */
    @media screen and (min-width: $smartphone) and (max-width: $notebook) {
        justify-content: center;
        display: flex;
        flex-direction: column;
        text-align: center;
    }
        ul{
            list-style: none;
            justify-content: space-around;
            display: flex;
            gap: 50px;
            padding: 0;
            a{
                text-decoration: none;
                color: white;
                a:visited{
                    text-decoration: none;
                    color: white;
                }
            }
            p{
                text-align: center;
            }
        }
    }
}

